<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Railway:400, 700" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="sidebar">
  		<div id="logo">
  			<%= link_to root_path do %>
  			<%= image_tag "" %>
  			<% end %>
  		</div>

  		<ul>
  			<li class="category">Signed in as,</li>
  			<li><%= link_to "Blog", root_path %></li>
  			<li><%= link_to "About", about_path %></li>
  		</ul>

  		<ul>
  			<li class="category">Social</li>
  			<li a href=""></a></li>
  			<li a href=""></a></li>
  			<li a href=""></a></li>
  			<li a href=""></a></li>
  		</ul>

		<% if !user_signed_in? %>
  			<p class="sign_in"><%= link_to "Log In", new_user_session_path %></p>
  		<% end %>
  	</div>

  	<div id="main_content">
  		<div id="header">

  		<% if current_page?(root_path) %>
  			<p>All Posts</p>
  		<% elsif current_page?(about_path) %>
  			<p>About</p>
  		<% else %>
  		<button class="button"><%= link_to "Back", root_path %></button>
  		<% end %>
		
		<% if user_signed_in? %>
  			<div class="buttons">
  				<button class="button"><%= link_to "New Post", new_post_path %></button>
  				<button class="button"><%= link_to "Log Out", destroy_user_session_path, method: :delete %> </button>
  			</div>
  		<% end %>
  		</div>

  		<% flash.each do |name, msg| %>
  		<%= content_tag(:div, msg, class: "alert") %>
  		<% end %>

    <%= yield %>
  	</div>
  </body>
</html>
